<!DOCTYPE html>
<html>
    <head>{{ title }}</head>
    <body style="background-color:white;">
        <img src="../static/img/uol_logo.jpg" width="200" height="170">
        <table font="Arial">
            <tr>
                <th>Endpoint para métricas</th>
                <th>/metrics</th>
            </tr>
            <tr>
                <th>Endpoint para Healthcheck</th>
                <th>/api/health</th>
            </tr>
            <tr>
                <th>Endpoint para documentação da API</th>
                <th>/api/swagger/v1/doc</th>
            </tr>
        </table>
    </body>
</html>