<!DOCTYPE html>
<html>
    <head>{{ title }}</head>
    <body style="background-color:white;">
    
        <table font="Arial" border="1" font="arial">
            <tr>
                <th>Endpoint para métricas</th>
                <th>/metrics</th>
            </tr>
            <tr>
                <th>Endpoint para Healthcheck</th>
                <th>/health</th>
            </tr>
            <tr>
                <th>Endpoint para documentação da API</th>
                <th>/apidocs</th>
            </tr>
        </table>
    </body>
</html>